<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garten.dao.AgentDao">
	
	<select id="findAgentByPwd"  resultType="AgentInfo">
		SELECT * FROM agent_info  a
		where phoneNumber=#{phoneNumber} 
		and pwd=#{pwd}
		and a.isValid=0
	</select>
	
	<select id="findToken"  resultType="String">
		select  token from  agent_info  a
		where phoneNumber=#{phoneNumber} 
		and a.isvalid=0
	</select>
	
	<select id="findAgentByAccount"  resultType="AgentInfo">
		select * from agent_info a 
		where phoneNumber=#{phoneNumber}
		and a.isValid=0
	</select>
	
	<update id="updatePwdToken"  >
		update   agent_info a
		set token=#{token},tokenTime=now(),pwd=#{pwd}
		where phoneNumber=#{phoneNumber} 
		and a.isvalid=0
	</update>
	
	
	<select id="findAgentInfoByToken"  resultType="AgentInfo">
		SELECT * FROM
		   agent_info a
		WHERE
		a.token = #{token}
		and a.isValid=0
	</select>
	
	<select id="findProChildAgent" resultType="AgentInfoAndGarten">
		select * from 
		agent_info 
		where 
		agentGrade=2 and province=#{province}
		and city!='' and isValid=0
	</select>
	
	
	<select id="findCityChildAgent" resultType="AgentInfoAndGarten">
		select * from 
		agent_info 
		where 
		agentGrade=3 and city=#{city}
		and countries!='' and isValid=0
	</select>
	
	<select id="findGartenByAgent" resultType="GartenInfo">
		select * from
		garten_info g
		where isValid=0
		and agent=#{agentId}
		<if test=" name!=null and name!=''">
			and g.gartenName=#{name}
		</if>
		<if test="	phoneNumber!=null and phoneNumber!=''" >
			and g.phoneNumber=#{phoneNumber}
		</if>
	</select>
	
	<update id="frostGarten">
		update garten_info set isValid=1
		where gartenId=#{gartenId}
	</update>
	
	<update id="recoverGarten">
		update garten_info set isValid=0
		where gartenId=#{gartenId}
	</update>
	
	<update id="updateGarten">
		update garten_info 
		set
		gartenName=#{gartenName}, name=#{name}, phoneNumber=#{phoneNumber},contractNumber=#{contractNumber},
		contractStart=#{contractStart} ,contractEnd=#{contractEnd}, organizationCode=#{organizationCode},
		province=#{province} ,city=#{city},countries=#{countries}, address=#{address},charge=#{charge}
		where gartenId=#{gartenId}
	</update>
	
	<select id="findAgentAudit" resultType="AgentAudit">
		select * from agent_audit
		where resourceId=#{agentId} and isvalid=0 and resource=1
	</select>
	
	<delete id="cancelApply">
		delete from agent_audit 
		where auditId=#{auditId} and resource=#{resource}
	</delete>
	
	<insert id="addApplyGarten">
		insert into agent_audit(gartenName,name,phoneNumber,contractNumber,province,city,countries,count,money1,equipment,resource,registTime,resourceId)
		values(#{gartenName},#{name},#{phoneNumber},#{contractNumber},#{province},#{city},#{countries},#{count},#{money},#{equipment},#{resource},now(),#{agentId})
	</insert>
	
	<insert id="addVisit">
		insert into agent_visit(agentId,title,content,gartenId,time)
		values(#{agentId},#{title},#{content},#{gartenId},now())
	</insert>
	
	<select id="getAgentVisit" resultType="AgentVisitDetail">
		select 
		av.agentId,av.visitId,av.title,av.content,av.gartenId,UNIX_TIMESTAMP(av.time),g.gartenName
		from 
		agent_visit av,garten_info g
		where
		av.agentId=#{agentId} and g.gartenId=av.gartenId and av.isValid=0 
		<if test="gartenId!=null and gartenId!=''">
			and av.gartenId=#{gartenId}
		</if>
		
	</select>
	
	<select id="getChildAgentBusiness" resultType="AgentAudit">
		select * from
		agent_audit a
		where
		isValid=0
		and resourceId=#{agentId} and resource=1
	</select>
	
	<select id="findGartenById" resultType="GartenInfo">
		select * from 
		garten_info
		where 
		agent=#{agentId}
		and agentType=1
	</select>
	
	<select id="getGartenNameAndId" resultType="GartenSimple">
		select gartenName,gartenId from
		garten_info
		where agent=#{agentId}
		AND isValid=0 and agentType=1
	</select>
	
	<select id="FindParentByGartenId" resultType="GartenCountTongJi">
		select gartenId,monitorTime,attendanceTime from
		parent_info
		where
		FIND_IN_SET(#{gartenId},gartenId)
		AND isValid=0
	</select>
	
	<update id="deleteVisit">
		update agent_visit set isValid=1
		where visitId=#{visitId}
	</update>
	<select id="findAgentById"  resultType="AgentInfo">
		SELECT * FROM agent_info  a
		where agentId=#{agent}
	</select>
	<select id="findWuliaoOrder"  resultType="WuliaoOrder">
		SELECT * FROM wuliao_order  w
		where w.isvalid=0
		
		<if test="	agentId!=null and agentId!=''" >
				and agentId=#{agentId}
			</if>
			<if test="	state!=null and state!=''" >
				and w.state=#{state}
			</if>
			<if test="	wuliaoId!=null and wuliaoId!=''" >
				and w.wuliaoId=#{wuliaoId}
			</if>
			 
	</select>
	
	<insert id="addWuliaoOrder"  >
		insert into  wuliao_order  
		set 
		equipmentAll=#{equipmentAll},
		address=#{address},
		postalcode=#{postalcode},
		agentId=#{agentId},
		fromPhonenumber=#{fromPhoneNumber},
		totalPrice=#{totalPrice},
		resource=#{resource}
	</insert>
	
	<update id="deleteWuliaoOrder"  >
		update   wuliao_order  
		set 
		isvalid=1
		where wuliaoId=#{wuliaoId}
		
	</update>
	<select id="findSaleServiceByOne"  resultType="SaleService">
		SELECT * FROM
		   sale_service s
		WHERE
		title = #{title}
		and content = #{content}
		and  saleServiceId > #{saleServiceId}-600000
	</select>
	<insert id="addSaleService"  >
		insert into   sale_service 
		set title=#{title},
		agentId=#{agentId},
		gartenId=#{gartenId},
		content=#{content},
		mark=#{mark},
		saleServiceId=#{saleServiceId}
	</insert>
	<select id="findAgentByAgentId"  resultType="AgentInfo">
		SELECT * FROM agent_info  a
		where a.isvalid=0
		and agentId=#{agentId}
	</select>
	<delete id="deleteSaleService">
		delete from sale_service 
		where 
		saleServiceId=#{saleServiceId}
	</delete>
</mapper> 