<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garten.dao.BigWorkerDao">
	
	<insert id="addWorkerMessage">
		insert into worker_message_log(title,info,registTime,workerId,gartenId)
		values(#{title},#{info},now(),#{workerId},#{gartenId})
	</insert>

	<update id="cancelApplyMessage">
		update worker_message_log
		set
		isValid=1
		where messageId=#{messageId}
	</update>

	<select id="findApplyMessage" resultType="WorkerMessageLog">
		select * from worker_message_log
		where workerId=#{workerId}
		and isValid=0
	</select>
	<select id="findMessageById" resultType="WorkerMessageLog">
		select * from worker_message_log
		where messageId=#{messageId}
	</select>
	<select id="findMessageMore" resultType="WorkerNameMessage">
		select * from worker_message_log
		where workerId=#{workerId} and isvalid=0
	</select>
	
	<select id="findMostEarlyApply" resultType="Integer">
		select MIN(messageId) from worker_message_log where isValid=0 and workerId=#{workerId} 
	</select>
</mapper>