<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garten.dao.TeacherDao">
	<select id="findUserByToken"  resultType="WorkerInfo">
		SELECT * FROM worker＿info 
		where token=#{token} and
		UNIX_TIMESTAMP(now())-UNIX_TIMESTAMP(tokenTime)>864000
	</select>
	

</mapper> 